<!DOCTYPE html>
<html>
  <%- include("partials/head"); %>
  <body>
    <%- include("partials/menu"); %>
    <div class="container m-4">
      <h1>Hello World</h1>
      <p>Welcome to my website</p>
    </div>
  </body>
</html>
