<!DOCTYPE html>
<html>
  <%- include("partials/head"); %>
  <body>
    <%- include("partials/navbar"); %>
    <div class="container m-4">
      <% articles.forEach(i => { %> <% if (i.approved) { %>
      <div class="container mb-2">
        <h1>
          <%= i.title %>
          <span class="badge bagde-primary"><%= i.author %></span>
        </h1>
        <p><%= i.body %></p>
      </div>
      <% } %> <% }) %>
    </div>
  </body>
</html>
