<html>
  <head>
    <title>Users | Create</title>
  </head>
  <body>
    <form method="POST" action="/users">
      <label for="name">Name</label>
      <br />
      <input type="text" name="name" />
      <br />

      <label for="email">Email</label>
      <br />
      <input type="text" name="email" />
      <br />

      <label for="role">Role</label>
      <br />
      <input type="text" name="role" />
      <br />
      <br />

      <button type="submit">Submit</button>
    </form>
  </body>
</html>
