<html>
  <head>
    <title>Users | Update</title>
  </head>
  <body>
    <form method="POST" action="/users/update/<%= uuid %>">
      <label for="name">Name</label>
      <br />
      <input type="text" name="name" value="<%= name %>" />
      <br />

      <label for="email">Email</label>
      <br />
      <input type="text" name="email" value="<%= email %>" />
      <br />

      <label for="role">Role</label>
      <br />
      <input type="text" name="role" value="<%= role %>" />
      <br />
      <br />

      <button type="submit">Submit</button>
    </form>
  </body>
</html>
