<nav style="--bs-breadcrumb-divider: ''" aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item"><a href="/register">Register</a></li>
    <li class="breadcrumb-item"><a href="/login">Login</a></li>
  </ol>
</nav>
